﻿
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="∼/Content/bootstrap.css" rel="stylesheet" />
    <link href="∼/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        .btn a {
            color: blue;
            text-decoration: none;
        }

        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <p>Ziheng He's APP</p>
        <h3>@Model invites you to the Mobile Symposium Student Competition</h3>
        <div class="btn btn-success">
            @Html.ActionLink("Please RSVP", "RSVP")
            @Html.ActionLink("Show Latest Attendees", "ShowLatestAttendees")
        </div>
    </div>
</body>
</html>
