﻿@using Assignment1_MVC.Models
@model List<InviteResponse>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LatestAttendees</title>
</head>
<body>
    <div> 
        <table>
            @foreach (InviteResponse response in @Model)
            {
                <tr>
                    <td>@response.Name</td>
                    <td>@response.Phone</td>
                    <td>@response.Email</td>
                    <td>@response.Address</td>
                    <td>@response.TwitterAccount</td>
                    <td>@response.Interest</td>
                </tr>
            }
            </table>
</div>
</body>
</html>
