﻿@using Assignment1_MVC.Models
@model InviteResponse


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="∼/Content/bootstrap.css" rel="stylesheet" />
    <link href="∼/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="∼/Content/Styles.css" />
    <title>RSVP</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>RSVP</h4></div>
        <div class="panel-body">
        <!--Build the form detail as we did in class-->
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()



            //I tried to use the style sheet but the problem is that I can not just straight use the class tag to identify those error mentions with @Html. Even though I tried to use the way mentioned in the book, It looks like I missed some sort of event to trigger the color change class
            //<p>Name: <input data-val="true" data-val-required="Please enter your name" id="Name" name="Name" type="text" value="" placeholder="Please enter your name"/></p>
            //<p>Name:<input class="input-validation-error" data-val="true" data-val-required="Please enter your name" id="Name" name="Name" type="text" value="" placeholder="Please enter your name"/></p>
            <div class="form-group">
                <p>Name: @Html.TextBox("Name", "", new { placeholder = "Please enter your name" }) </p>
            </div>
            //<p>Phone: </p><input class="input-validation-error" data-val="true" data-val-required="Please enter your name" id="Name" name="Name" type="text" value="" placeholder="Please enter your name" /></p>
            <div class="form-group">
                <p>Phone: @Html.TextBox("Phone", "", new { placeholder = "Please enter your phone number" })</p>
            </div>
            <div class="form-group">
                <p>Email: @Html.TextBox("Email", "", new { placeholder = "Please enter your email" })</p>
            </div>
            <div class="form-group">
                <p>Twitter: @Html.TextBox("TwitterAccount", "", new { placeholder = "Please enter your twitter account" }) </p>
            </div>
            <div class="form-group">
                <p>Address: @Html.TextBox("Address", "", new { placeholder = "Please enter your Address" }) </p>
            </div>


                <p>
                    What's your intest?
                    @Html.DropDownList("Interest",
                                    new[] { new SelectListItem()
                                            {
                                                Text = "Internet of Things",

                                            },
                                            new SelectListItem()
                                            {
                                                Text ="Cognitive Computing",

                                            },
                                            new SelectListItem()
                                            {
                                                Text ="Wearable Computing",

                                            },
                                            new SelectListItem()
                                            {
                                                Text ="Augmented / Virtual Reality",

                                            }

                                          },
                                    "Please select an option")
                </p>

                <div class="text-center">

                    <input type="submit" value="Accept Invitation"  /> <input type="submit" value="sent regrets"/>
                 </div>
                    }
                </div>
        </div>
</body>
</html>
