﻿@model Assignment1_MVC.Models.InviteResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="∼/Content/bootstrap.css" rel="stylesheet" />
    <link href="∼/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <style>
        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    @{
        try
        {
            WebMail.SmtpServer = "smtp.example.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "mySmtpUsername";
            WebMail.Password = "mySmtpPassword";
            WebMail.From = "rsvps@example.com";

            WebMail.Send("party-host@example.com", "RSVP Notification",
                Model.Name + " is " + ((Model.WillAttend ?? false) ? "" : "not")
                    + "attending");

        }
        catch (Exception)
        {
            @:<b>Sorry - we couldn't send the email to confirm your RSVP.</b>
        }
    }
    <div class="text-center"> 
        <p>Thanks @Model.Name!</p>
        <div class="lead">
            <p>
                <!--TODO: Differentiate between RSVP that will attend vs.
            those that send regrets-->
                @if (Model.WillAttend == true)
            {
                <p>“You were enrolled in the <technical interest> track of the competition”.</p>
                }
                else
                {
                    @:Sorry you cannot make it. Hopefully will see you next time.
            }

                </p>
            </div>
    </div>
</body>
</html>
